<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.linlinjava.litemall.db.dao.StudentMapper">

    <resultMap id="BaseResultMap" type="org.linlinjava.litemall.db.domain.Student">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="course_id" jdbcType="INTEGER" property="courseId"/>
        <result column="course_name" jdbcType="VARCHAR" property="courseName"/>
        <result column="teacher_id" jdbcType="INTEGER" property="teacherId"/>
        <result column="student_num" jdbcType="INTEGER" property="studentNum"/>
        <result column="course_time" jdbcType="INTEGER" property="courseTime"/>

    </resultMap>


    <select id="getCourseList" resultMap="BaseResultMap">
        select *
        from course
    </select>
</mapper>